{% extends "base.html" %}
{% block title %} | About{% endblock %}
{% block main_image %}
<img src="{{ url_for('static', filename='img/about-main.jpg') }}" width="100%">
{% endblock %}
{% block content %}
<section style="background-color: #002C45; height: 80vh; margin-top: 150px;">
    <div style="margin: 25px 50px;">
        <h1 class="title" style="font-size: 45px; margin-bottom: 10px; margin-top: 10px; text-align: center;">Our Story</h1>
        <p style="font-size: 1rem;">Cloud Nine started as a small private travel company, who's sole focus was to transport very rich, important individuals to their desired location as quickly and comfortably as possible. This lead to and important revelation when our CEO Clinton Doe was traveling to visit family on the west coast of the United States. Once he arrived back at our headquarters in Atlanta, Georgia he described how uncomfortable his 2-hour flight was. He told us about the cheap seats, lack of sleeping equipment, and the echo in the plane causing the sound of a few snoring passengers to sound like the roar of a motorcycle engine. It was so bad that he decided to rent a car and drive all the way back to Atlanta! After weeks of discussions, consultations, reviews, and many business proposals later it was settled. We were going to become a cheap, affordable, commercial airline that would provide comfort to our passengers.</p>
    </div>
</section>
{% endblock %}
