{% extends "base.html" %}
{% block title %} | Credits{% endblock %}
{% block content %}
<h1 style="text-align: center;">Credits</h1>
<section style="font-size: 16px;">
    <ul>
        <li>Privacy Policy: <a href="https://www.bbb.org/greater-san-francisco/for-businesses/toolkits1/sample-privacy-policy/">https://www.bbb.org/greater-san-francisco/for-businesses/toolkits1/sample-privacy-policy/</a> | Better Business Bureau
        <p>
        <li>Requirements to apply- <a href="https://www.job-applications.com/delta-airlines-job-application/">https://www.job-applications.com/delta-airlines-job-application/</a> | Delta Airlines
        <p>
        <li>“9”- <a href="https://phobia.wikia.org/wiki/Enneaphobia">https://phobia.wikia.org/wiki/Enneaphobia</a> | Phobia Wiki
        <p>
        <li>“Cloud”- <a href="https://clipartstation.com/cloud-png-clipart-1/">https://clipartstation.com/cloud-png-clipart-1/</a> | Clip Art Station
        <p>
        <li><div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </ul>
</section>
{% endblock %}
