{% extends "base.html" %}
{% block title %} | Programs{% endblock %}
{% block content %}
        <section style="display: flex;">
            <a href="#" class="card">
                <figure class="image">
                </figure>
                <article class="text">
                    <h2>Work For Us</h2>
                    <p>Here's how to become a member of the Cloud Nine family</p>
                </article>
            </a>
            <a href="#" class="card">
                    <figure class="image">
                    </figure>
                    <article class="text">
                        <h2 style="text-decoration: none;">Frequent Flyers</h2>
                        <p>Here is how we reward you for flying with us.</p>
                    </article>
            </a>
        </section>
{% endblock %}