<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="{{ url_for('static', filename='css/auth.css') }}" rel="stylesheet">
    </head>
    <body>
        <div class="login-page">
            <div class="form">
                <h1>Signup</h1>
                <form class="login-form" method="POST" action="{{ url_for('auth.signup') }}">
                    <input type="text" name="name" placeholder="username"/>
                    <input type="password" name="password" placeholder="password"/>
                    <button>Signup</button>
                    <p class="message">Already have an account? <a href="{{ url_for('auth.login') }}">Login</a></p>
                    <p class="message"><a href="{{ url_for('main.index') }}">Back To Home Page</a></p>
                </form>
            </div>
        </div>
    </body>
</html>
