{% extends "base.html" %}
{% block title %} | About{% endblock %}
{% block main_image %}
<img src="{{ url_for('static', filename='img/woman-sitting-on-the-floor-beside-black-luggage-2754854.jpg') }}" width="100%">
{% endblock %}
{% block content %}
<section style="background-color: #002C45; height: 80vh; margin-top: 150px;">
    <div style="margin: 25px 50px;">
        <h1 class="title" style="font-size: 45px; margin-bottom: 10px; margin-top: 10px; text-align: center;">Work For Us</h1>
        <p style="font-size: 27.5x;">
            Here at Cloud 9, we value worth ethic and excitement. If you are happy to do your job, those you do your job for are happy. We’re glad you decided to join us!<br>
            
            We offer jobs for <strong>Pilots</strong>:<br>
            <i>Minimum Age</i>- 22 years old<br>
            <i>Hours of Work</i>- Vary, from 6-10 hours daily<br>
            <i>Average Wage for Entry-Level</i>- $90,000 annually<br>
            <i>Minimum Work Experience</i>- Varies depending on position from 2 years to 10 years<p>
        
            We offer jobs for <strong>Flight Attendants</strong>:<br>
            <i>Minimum Age</i>- 20 years old<br>
            <i>Hours of Work</i>- Vary, from 10-20 hours Weekly<br>
            <i>Average Wage for Entry-Level</i>- $75,000 annually<br>
            <i>Minimum Work Experience</i>- Entry level, no experience required<br>
            <br>
            If you feel like you fit all of the requirements for either of of these two job positions, feel free to conact us <strong><NineCloudAirlines@gmail.com/strong>.
            <br>
            <div style="text-align: center;">We are looking forward to speaking with you!<div>
        </p>
    </div>
</section>
{% endblock %}
