{% extends "base.html" %}
{% block title %} | Credits{% endblock %}
{% block content %}
<h1 style="text-align: center;">Credits</h1>
<section style="font-size: 16px;">
    <ul>
        <li>Privacy Policy: <a href="https://www.bbb.org/greater-san-francisco/for-businesses/toolkits1/sample-privacy-policy/">https://www.bbb.org/greater-san-francisco/for-businesses/toolkits1/sample-privacy-policy/</a> | Better Business Bureau
        <p>
        <li>Requirements to apply- <a href="https://www.job-applications.com/delta-airlines-job-application/">https://www.job-applications.com/delta-airlines-job-application/</a> | Delta Airlines
        <p>
        <li>“9”- <a href="https://phobia.wikia.org/wiki/Enneaphobia">https://phobia.wikia.org/wiki/Enneaphobia</a> | Phobia Wiki
        <p>
        <li>“Cloud”- <a href="https://clipartstation.com/cloud-png-clipart-1/">https://clipartstation.com/cloud-png-clipart-1/</a> | Clip Art Station
        <p>
        <li>Icons- <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> | Freepik/Flaticon
        <p>
        <li>Terms & Conditions- <a href="https://www.termsfeed.com/terms-conditions-generator/">https://www.termsfeed.com/terms-conditions-generator/</a> | TermsFeed
    </ul>
</section>
{% endblock %}
{% extends "base.html" %}
{% block title %} | About{% endblock %}
{% block main_image %}
<img src="{{ url_for('static', filename='img/woman-sitting-on-the-floor-beside-black-luggage-2754854.jpg') }}" width="100%">
{% endblock %}
{% block content %}
<section style="background-color: #002C45; height: 80vh; margin-top: 150px;">
    <div style="margin: 25px 50px;">
        <h1 class="title" style="font-size: 45px; margin-bottom: 10px; margin-top: 10px; text-align: center;">Our Story</h1>
        <p style="font-size: 27.5px;">Cloud Nine started as a small private travel company, who's sole focus was to transport very rich, important individuals to their desired location as quickly and comfortably as possible. This lead to and important revelation when our CEO Josh Grayson was traveling to visit family on the west coast of the United States. Once he arrived back at our headquarters in Atlanta, Georgia he described how uncomfortable his 2-hour flight was. He told us about the cheap seats, lack of sleeping equipment, and the echo in the plane causing the sound of a few snoring passengers to sound like the roar of a motorcycle engine. It was so bad that he decided to rent a car and drive all the way back to Atlanta! After weeks of discussions, consultations, reviews, and many business proposals later it was settled. We were going to become a cheap, affordable, commercial airline that would provide comfort to our passengers.</p>
    </div>
</section>
<p>
        Here at Cloud 9, we value worth ethic and excitement. If you are happy to do your job, those you do your job for are happy. We’re glad you decided to join us!<p>
        We offer jobs for <strong>Pilots</strong>:<br>
        <i>Minimum Age</i>- 22 years old<br>
        <i>Hours of Work</i>- Vary, from 6-10 hours daily<br>
        <i>Average Wage for Entry-Level</i>- $60,000 annually<br>
        <i>Minimum Work Experience</i>- Varies depending on position from 2 years to 10 years<p>
        
        We offer jobs for <strong>Flight Attendants</strong>:<br>
        <i>Minimum Age</i>- 20 years old<br>
        <i>Hours of Work</i>- Vary, from 10-20 hours Weekly<br>
        <i>Average Wage for Entry-Level</i>- $50,000 annually<br>
        <i>Minimum Work Experience</i>- Entry level, no experience required<br>
</p>
{% endblock %}
